<!DOCTYPE html>
<html>
<head>
  <title>Quiz2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <a href="/supporters">Home</a> |
    <a href="/supporters/new">Add New Supporters</a>|
    <br>
    <br>
    <%= form_tag home_path do  %>
    <%= text_field_tag :word, params[:word] %>
    <%= submit_tag "Search" %>
    <% end %>
    <br>
    <% if flash[:notice] %>
    <div class="flash_notice"><%= flash[:notice] %></div>
    <% elsif flash[alert] %>
    <div class="flash_alert"><%= flash[:alert] %></div>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
